
.contact{
    padding-bottom: 60px;

}

.contact_info{
    list-style: none;
    padding-left:0;
    margin-top: 40px;
   
}

.infoitem{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    column-gap: 2rem;
}

.contact_infoitem span i{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 6px;
    border-radius: 5px;
    background: rgba(35, 0, 209, 0.26);
}

.contact_info p{
    color: rgb(194, 194, 194);
    font-size: 15px;
    
}
